* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  :root {
    --text-color-dark: #335368;
    --text-color-light: #efefef;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote {
    quotes: none;
  }
  blockquote:before,
  blockquote:after {
    content: "";
    content: none;
  }
  del {
    text-decoration: line-through;
  }
  header,
  section,
  article,
  aside,
  nav,
  footer,
  address {
    display: block;
  }
  
  input,
  textarea,
  select {
    font-family: sans-serif;
  }
  .img-class {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  .wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1450px;
  }

/* css styles starts here */



#home { 
    background: rgb(0,0,0);
    background: linear-gradient(27deg, rgba(0,0,0,1) 4%, rgba(93,25,7,1) 94%);
    height: 100vh;
    padding-top: 3%;
    overflow-y: hidden;
}

#home .wrapper .spotlight { 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

#home .wrapper h1.main-title { 
    color: #f7f7f7;
    font-size: 90px;
    font-family: "sans-serif";
    margin-bottom: 100px;
    text-align: center;
    letter-spacing: 60px;
    
}

#home .wrapper h1.main-title::after{
    display: block;
    content: "GREATEST OF ALL TIME";
    letter-spacing: 5px;
    font-size: 15px;
    text-align: center;
    margin-right: 60px;
    

}

#home .wrapper .spotlight .goat-img { 
    position: relative;
    width: 30%;
    height: 580px;
}

#home .wrapper .spotlight .goat-img .player { 
    position: absolute;
    top: 50%;
    left: 50%;
    border : 1px solid #f7f7f7;
    border-radius: 5px;
    padding: 10px;
    background: #5d1907;
}

#home .wrapper .spotlight .goat-img .player .name { 
    color: #f7f7f7;
    font-size: 15px;
    margin-bottom: 5px;
}

#home .wrapper .spotlight .goat-img .player .logo { 
    display: flex;
    align-items: center;
}

#home .wrapper .spotlight .goat-img .player .logo .club-logo { 
    width: 15px;
}

#home .wrapper .spotlight .goat-img .player .logo .club-logo .img-class { 

}

#home .wrapper .spotlight .goat-img .player .logo .club-name { 
    color: #f7f7f7;
    font-size: 10px;
    margin-left: 5px;
}

#home .wrapper .spotlight .goat-img .img-class { 

}

#home .wrapper .nav-ball { 

}

#home .wrapper .nav-ball .ball { 
    width: 50px;
    position: fixed;
    bottom : 0;
    right: 0;
}

#home .wrapper .nav-ball .ball .img-class { 

}

#home .wrapper .nav-ball ul { 
    
}

#home .wrapper .nav-ball ul li { 

}
/* css ends here */